@model IDGS904_tema1.Models.Triangulo
@{
    ViewBag.Title = "Triangulo";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 class=" text-center">Calcular Triangulo</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.X1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.X1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.X1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Y1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Y1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Y1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.X2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.X2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.X2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Y2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Y2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Y2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.X3, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.X3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.X3, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Y3, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Y3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Y3, "", new { @class = "text-danger" })<br />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Calcular" class="btn btn-outline-success" />
                            </div>
                        </div>
                    </div>
                </div>

                </div>

            }
        </div>
        <div class="col-6 text-center">
            <h4>Resultado</h4>
            <h6>
                <span class="rounded-pill"> @Html.DisplayFor(model => Model.Resultado)</span>
            </h6>
        </div>
    </div>
</div>










