@model IDGS904_tema1.Models.Alumnos

@{ 
    ViewBag.Title = "Registrar";
}

<h2>Registrar</h2>

@using (Html.BeginForm())
    {
    <div class="form-horiontal">
        <div class="form-group">
            @Html.LabelFor(mode => Model.Nombre, htmlAttributes:
                   new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Nombre, new { HtmlAttribute = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(mode => Model.Edad, htmlAttributes:
                   new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Edad, new { HtmlAttribute = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(mode => Model.Activo, htmlAttributes:
                   new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Activo, new { HtmlAttribute = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(mode => Model.Inscrito, htmlAttributes:
                   new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Inscrito, new { HtmlAttribute = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="name" value="Registrar" />
        </div>
    </div>
    }
